@model IEnumerable<Membership_App.Entities.Part>
@using Membership_App.Areas.Admin.Models


@{
    ViewBag.Title = "Index";
}

<h2>Part</h2>

<div class="row">
    <div class="col-md-12">
        <p>

            @Html.Partial("_CreateNewSectionButton");

        </p>

    </div>

</div>

<div class="row">
    <div class="panel panel-default">
        <!-- Default panel contents -->
        <div class="panel-heading">@Html.DisplayNameFor(model => model.Title)</div>
        <div class="panel-body">
            <table class="table table-striped table-condensed">
                <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(model => item.Title)
                        </td>

                        <td>
                            @Html.Partial("_ButtonsList", new ButtonModel
                            {
                                Id = item.Id
                            })

                        </td>
                    </tr>

                }
                </tbody>
            </table>
        </div>
    </div>
</div>